.work-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.work-content {
  padding: 20px;
  text-align: left;
}
.work-content h3 {
  margin-top: 0;
  font-size: 1.5rem;
}
.work-tech {
  margin: 15px 0;
}
.work-tech span {
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}
.work-links {
  margin-top: 20px;
}
.work-links a {
  text-decoration: none;
  color: #007bff;
  margin-right: 15px;
  font-weight: bold;
}
.work-links a:hover {
  text-decoration: underline;
}
